* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    max-width: 1200px;
    background: linear-gradient(rgba(62, 64, 68, 1),rgba(40, 41, 47, 1));
    color: white;
    margin: 0 auto;
}

/* HEADER + NAV */

header {
    max-width: 1440px;
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: greenyellow; /* A RETIRER ENSUITE */
}

.logo {
    padding: 10px;
    margin-left: 30px;
}

.logo img {
    height: 20px;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background: red;
}

nav a {
    font-size: 18px;
}

/* ACCUEIL */

section {
    margin: 20px auto;
}

.accueil {
    padding: 0 40px;
    max-width: 1440px;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: goldenrod;
}

.accueil-titre {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: skyblue;
    gap: 20px;
}

.accueil-titre h1 {
    color: rgba(137, 255, 253, 1);
    font-size: 164px;
    font-weight: 800;
}

.accueil-titre h2 {
    font-size: 41px;
    font-weight: 800;
}

.accueil-titre p {
    font-size: 24px;
    max-width: 85%;
}

.accueil-image {
    position: absolute;
    left: 25%;
    max-height: 100%;
}

.accueil-image img {
    max-width: none;
}

.accueil-shoes {
    position: absolute;
    right: 5px;
    bottom: 10%;
    display: flex;
    align-items: center;
    gap: 6px;
}

.shoebox {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: radial-gradient(rgba(68, 70, 75, 1), rgba(40, 41, 47, 1));
}

.accueil-logos {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5px;
    top: 150px;
    gap: 10px;
}

button {
    background-color: rgba(239, 50, 217, 1);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 172px;
    height: 50px;
    border-radius: 6px;
    border: none;
    color: white;
}

/* MEILLEURES VENTES */

hr {
    border: none;
    height: 9px;
    width: 150px;
    background-color: rgba(239, 50, 217, 1);
}

h2 {
    font-size: 64px;
    font-weight: 500;
    color: rgba(137, 255, 253, 1);
}

.ventes {
    
}

@media (max-width: 600px) {

    /* HEADER + NAV */
    header {
        align-items: flex-start;
    }
    .logo {
        margin-top: 12px;
    }
    nav {
        flex-direction: column;
        padding: 10px;
    }

    /* ACCUEIL */
    .accueil, .accueil-titre, .accueil-image {
        position: static;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        gap: 20px;
    }

    .accueil-image img {
        max-width: 100%;
        background: red;
    }

    .accueil-shoes, .accueil-logos {
        display: none;
    }
}



